.Recipe-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    text-align: center;
    background-color: rgb(226, 241, 255);
    border: 1px solid rgba(0, 0, 0, 0.61);
    border-radius: 10px;
    box-shadow: 2px 3px 5px slategray;
    margin: 5px;
}

.Recipe-box:hover {
    background-color: mistyrose;
}

.Recipe-box h3 {
    color: black;
    margin: 5px;
}

.h3 {
    display: flex;
    align-items: center;
}

a.Recipe-box {
    text-decoration: none;
}

.Recipe-box img {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0 0 10px 10px;
}

.Recipe-ing-count {
    display: flex;
    margin-top: -29px;
    justify-content: flex-start;
}

.Recipe-not-from,
.Recipe-from,
.Recipe-unused {
    padding: 5px;
    color: white;
    font-weight: bold;
    height: 14px;
    width: 14px;
}

.Recipe-from {
    background-color: rgb(1, 155, 1);
    border-top: 1px solid black;
    border-radius: 0 0 0 9px;
}

.Recipe-not-from {
    border-top: 1px solid black;
    background-color: rgb(0, 0, 255);
}

.Recipe-unused {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius:  0 10px 0 0;
    background-color: rgb(255, 0, 0);
}


@media only screen and (max-width: 590px) {
    .Recipe-box {
        width: 90%;
    }
}
