.Inventory-box-container {
    grid-area: 1/2/5/3;
    margin: 0;
    padding: 0;
    position: fixed;
    margin-left: 15px;
}

.Inventory-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    max-height: 75vh;
    background-color: rgb(75, 75, 75);
    border: 1px solid rgba(0, 0, 0, 0.411);
    box-shadow: 1px 2px 4px rgb(0, 0, 0);
    margin-top: 50px;
    border-radius: 10px;
    overflow-y: auto;
}

.Inventory-box h2 {
    background-color: oldlace;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 20px 0;
    margin: 0 0 15px;
    text-align: center;
    color: black;
    text-decoration: underline;
    font-size: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.877);
}

@media only screen and (max-width: 700px) {
    .Inventory-box-container {
        margin-left: 5px;
    }

    .Inventory-box {
        width: 120px;
    }

    .Inventory-box h2 {
        font-size: 20px;
    }
}