.SignupPage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.SignupPage form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 125px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.699);
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px black;
}

.SignupPage header {
  text-align: center;
}
