.SearchBar {
    display: flex;
    height: 25px;
    justify-content: center;
    margin-top: 25px;
}

.SearchBar input {
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.SearchBar input:hover {
    background-color: moccasin;
}

.SearchBar button {
    background-image: url("https://img.icons8.com/ios/452/search--v1.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.SearchBar button:hover {
    background-color: moccasin;
    box-shadow: 1px 1px 5px 1px black;
}
